coverage
.nyc_output/
node_modules/
junit
dist
tmp
logs
.DS_Store
test-results.xml
.env
.vscode
tokens.json
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
*.env
/secrets/secrets.env
.auth.json
.env_word2md
.hlx-1d.json
document.docx
document.md
.convert
